* { 
  margin:0; padding:0; 
}
em, i, a {
  font-style: normal;
  text-decoration: none;
  color: black;
}
.clear {
  display: block;
  clear: both;
}
@mixin background-gradient($color1, $color2) {
  background: -webkit-linear-gradient(left, $color1, $color2);
  background: -o-linear-gradient(left, $color1, $color2);
  background: -moz-linear-gradient(left, $color1, $color2);
  background: linear-gradient(to right, $color1, $color2);
}
@mixin border-gradient($thickness, $color1, $color2) {
  border-width: $thickness;
  border-style: solid;
  -webkit-border-image: -webkit-linear-gradient(top left, $color1, $color2);
  -moz-border-image: -moz-linear-gradient(top left, $color1, $color2);
  -o-border-image: -o-linear-gradient(bottom right, $color1, $color2);
  border-image: linear-gradient(to bottom right, $color1, $color2);
  border-image-slice: 1;
}
@mixin flip-text($vert, $horiz) {
  -moz-transform: scale($vert, $horiz);
  -webkit-transform: scale($vert, $horiz);
  -o-transform: scale($vert, $horiz);
  -ms-transform: scale($vert, $horiz);
  transform: scale($vert, $horiz);
}
@mixin hr($length, $thickness, $color) {
  width: $length;
  height: $thickness;
  background-color: $color;
}
@mixin vr($length, $thickness, $color) {
  height: $length;
  width: $thickness;
  background-color: $color;
}
@mixin absolute-center($width) {
  $half: ($width / 2);
  left: (50% - $half);
}

p, a, span {
    font-family: 'Noto Sans', sans-serif;
}
h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: white
}

#section-1 {
  #cover {
    width: 100%;
    display: block;
  }
  #logo {
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 20%;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 8px;
    line-height: 12px;
    @include border-gradient(1px, #f3c400, #ff5601);
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    font-size: 16px;
    em {
      display: block;
      @include flip-text(-1, -1);
      padding-left: 2px;
    }
  }
  #hamburger-icon {
    cursor: pointer;
    border: 1px solid black;
    position: absolute;
    top: 27px;
    right: 20%;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 9px;
    padding-bottom: 9px;
    div {
      background-color: black;
      width: 18px;
      height: 3px;
    }
    div:nth-child(1), div:nth-child(2) {
      margin-bottom: 3px;
    }
  }
  .presentation {
    position: absolute;
    top: 240px;
    left: calc(50% - (300px / 2));
    h2 {
      text-align: center;
      margin: 0;
      color: #000;
    }
    h2:first-child {
      letter-spacing: 3px;
      font-size: 57px;
      font-family: 'Heebo', sans-serif;
    }
    h2:nth-child(2) {
      font-family: 'Noto Sans', sans-serif;
      font-weight: 400;
      font-style: italic;
      font-size: 23px;
      margin-bottom: 35px;
    }
    p {
      display: inline-block;
      position: absolute;
      left: calc(50% - (182px / 2));
      padding-top: 5px;
      font-style: italic;
      border-top: 1px solid black;
      font-family: 'Noto Sans', sans-serif;
      font-weight: 400;
      font-style: italic;
      font-size: 12px;
    }
    img {
      display: block;
      margin: auto;
      width: 20px;
      margin-top: 82px;
    }
  }
}

#section-2 { 
  height: 700px;
  background-color: #121212;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 65px;
  padding-bottom: 25px;
  h2, h3 {
    color: white;
  }
  h2 {
    font-size: 22px;
    margin-bottom: 37px;
  }
  .row {
    margin-bottom: 68px;
    width: 100% / 3;
    h3 {
      font-size: 16px;
      margin-bottom: 18px;
    }
    p {
      color: #6c6c6c;
      font-size: 10px;
      line-height: 17px;
    }
    div {
      width: 31%;
      display: inline-block;
      vertical-align: baseline;
      margin-bottom: 18px;
      div {
        border-bottom: 1px solid #757575;
        padding-bottom: 8px;
        width: 45px;
        img {
          margin: auto;
          display: block;
          height: 33px;
        }
      }
    }
    div:first-child, div:nth-child(2) {
      margin-right: 2%;
    }
  }
}

#section-3 {
  position: relative;
  height: 1035px;
  background-color: #121212;
  * {
    color: white;
  }
  a {
    font-size: 10px;
  }
  div:first-child {
    .column:nth-child(-n + 4) {
      margin-right: 2px;
    }
    .column {
      width: 19.87%;
      display: inline-block;
      float: left;
      div {
        background-color: #fff;
        margin-bottom: 2px;
      }
      div:nth-child(2) {
        height: 250px;
      }
    }
    .column:nth-child(1), .column:nth-child(5) {
      div:first-child {
        height: 250px;
      }
    }
    .column:nth-child(2), .column:nth-child(4) {
      div:first-child {
        height: 209px;
      }
    }
    .column:nth-child(3) div:first-child {
        height: 172px;
    }
    .column:nth-child(2) {
      div:nth-child(2) {
        height: 176px;
      }
      div:nth-child(3) {
        height: 60px;
        text-align: center;
        padding-top: 15px;
        @include background-gradient(#f3c400, #ff5601);
        p {
          margin-bottom: 10px;
          font-family: 'Montserrat', sans-serif;
        }
        .hr {
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 5px;
          @include hr(111px, 1px, white);
        }
      }
    }
  }
  > a {
    display: block;
    width: 50%;
    height: 30px;
    @include background-gradient(#f3c400, #ff5601);
    line-height: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    margin-bottom: 100px;
  }
  #howework {
    padding-left: 20%;
    padding-right: 20%;
    h2 {
      margin-bottom: 30px;
    }
    > div {
      width: 31%;
      display: inline-block;
      span {
        font-family: 'Montserrat', sans-serif;
        font-size: 45px;
        display: block;
        margin-bottom: 5px;
        em {
          position: relative;
          top: -20px;
          left: -10px;
          font-family: 'Noto Sans', sans-serif;
          font-size: 17px;
          font-style: italic;
          color: #6c6c6c;
        }
      }
      .hr {
        width: 135px;
        height: 2px;
        @include background-gradient(#f3c400, #ff5601);
        margin-bottom: 20px;
      }
      h3 {
        font-size: 16px;
        margin-bottom: 10px;
      }
      p {
      color: #6c6c6c;
      font-size: 10px;
      line-height: 17px;
    }
    }
    > div:nth-child(2), > div:nth-child(3) {
      margin-right: 2%;
    }
  }
}

#section-4 {
  padding-top: 55px;
  padding-left: 20%;
  padding-right: 20%;
  height: 277px;
  @include background-gradient(#f3c400, #ff5601);
  h2 {
    margin-bottom: 40px;
  }
  table {
    tr {
      line-height: 75px;
    }
    td {
      width: 200px;
      position: relative;
      div {
        width: 100%;
        height: 100%;
      }
    }
    .graphicriver {
      width: 120px;
      position: relative;
      left: -8px;
      top: 7px;
    }
    .audiojungle {width: 108px;}
    .photodune {width: 105px;}
    .activeden {width: 93px;}
    .threedocean {width: 88px;}
    .codecanyon {width: 115px;}

  }
}

#section-5 {
  height: 627px;
  background-color: #121212;
  padding-top: 75px;
  padding-left: 20%;
  padding-right: 20%;
  h2 {
    margin-bottom: 40px;
  }
  h3 {
    margin-bottom: 10px;
    font-size: 17px;
  }
  > div {
    border: 1px solid #6c6c6c;
    display: inline-block;
    width: 23%;
    box-sizing: border-box;
    padding: 20px 20px 10px 20px;
    vertical-align: top;
    margin-right: 0px;
    span:nth-child(2) {
      text-align: right;
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 12px;
      em {
        color: #6C6C6C;
        font-size: 17px;
        font-family: 'Noto Sans', sans-serif;
        font-style: italic;
        position: relative;
        bottom: 15px;
        font-weight: 400;
      }
    }
    span {
      text-align: left;
      font-size: 10px;
      color: #6c6c6c;
      display: block;
      line-height: 25px;
      
      em {
      color: #fff;
      }
    }
    .hr {
      width: 135px;
      height: 1px;
      @include background-gradient(#f3c400, #ff5601);
    }
    .hr:nth-child(3) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .hr:nth-child(13) {
      margin-top: 20px;
      margin-bottom: 10px;
    }
    a {
      font-family: 'Noto Sans', sans-serif;
      color: #fff;
      font-size: 9px;
    }
      text-align: center;
  }
}